html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;

}
*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  padding: 0;
  background-color: #e2e2e2;
  font-size: 1.125rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

nav ul {
  list-style-type: none;
  padding: .75em;
  display: flex;
}

nav ul li {
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: #0074d9;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

header h1 {
  margin: .5rem;
}

header img {
  margin: auto;
}

header p {
  font-size: 1.125rem;
}
