html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 10%;
}

header {
  display: flex;
  padding: 1rem;
  background-color: lightgray;
  font-size: 1.125rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header img {
  width: 2rem;
}

header nav ul{
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  padding: 1rem;
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
}
